body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:712px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u17693 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:82px;
  width:614px;
  height:1205px;
  display:flex;
}
#u17693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17694 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:178px;
  width:558px;
  height:970px;
  display:flex;
}
#u17694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u17695 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:1058px;
  width:546px;
  height:90px;
  display:flex;
}
#u17695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u17696 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:1058px;
  width:141px;
  height:90px;
  display:flex;
}
#u17696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17698 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:1118px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u17698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17699 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:1071px;
  width:40px;
  height:40px;
  display:flex;
}
#u17699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17701 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1118px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u17701 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17701_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17702 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1071px;
  width:40px;
  height:40px;
  display:flex;
}
#u17702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17704 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1118px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u17704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17704_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17705 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1071px;
  width:40px;
  height:40px;
  display:flex;
}
#u17705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17707 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1118px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u17707 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17707_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17708 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1071px;
  width:40px;
  height:40px;
  display:flex;
}
#u17708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u17710 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:186px;
  width:24px;
  height:14px;
  display:flex;
}
#u17710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17711 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:187px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u17711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17711_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17712 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:186px;
  width:16px;
  height:16px;
  display:flex;
}
#u17712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17713 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:187px;
  width:36px;
  height:16px;
  display:flex;
}
#u17713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17713_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u17714 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:186px;
  width:24px;
  height:20px;
  display:flex;
}
#u17714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17716 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u17716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u17717_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u17717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17717 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:217px;
  width:253px;
  height:30px;
  display:flex;
}
#u17717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17717_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17717.disabled {
}
#u17718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17718 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:222px;
  width:20px;
  height:20px;
  display:flex;
}
#u17718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17719 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:213px;
  width:30px;
  height:30px;
  display:flex;
}
#u17719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:42px;
  background:inherit;
  background-color:rgba(232, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17720 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:259px;
  width:498px;
  height:42px;
  display:flex;
}
#u17720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17721 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:272px;
  width:294px;
  height:16px;
  display:flex;
}
#u17721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17721_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17722 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:268px;
  width:24px;
  height:24px;
  display:flex;
}
#u17722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:128px;
  background:inherit;
  background-color:rgba(232, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17723 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:311px;
  width:498px;
  height:128px;
  display:flex;
}
#u17723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17724 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:312px;
  width:412px;
  height:127px;
}
#u17724_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:127px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17724_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:125px;
}
#u17725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:125px;
  display:flex;
}
#u17725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17724_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:127px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u17724_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:125px;
}
#u17726 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:412px;
  height:125px;
  display:flex;
}
#u17726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17724_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:127px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u17724_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:125px;
}
#u17727 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:412px;
  height:125px;
  display:flex;
}
#u17727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17728 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:411px;
  width:49px;
  height:24px;
}
#u17728_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17728_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
  background:inherit;
  background-color:rgba(247, 5, 5, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17729 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:10px;
  height:4px;
  display:flex;
}
#u17729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u17730 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:12px;
  width:4px;
  height:4px;
  display:flex;
}
#u17730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u17731 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:12px;
  width:4px;
  height:4px;
  display:flex;
}
#u17731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17728_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u17728_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17728_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u17728_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#040404;
}
#u17732 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:512px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#040404;
}
#u17732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17733 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:465px;
  width:40px;
  height:40px;
  display:flex;
}
#u17733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#040404;
}
#u17734 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:512px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#040404;
}
#u17734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17735 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:465px;
  width:40px;
  height:40px;
  display:flex;
}
#u17735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#040404;
}
#u17736 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:512px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#040404;
}
#u17736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17737 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:465px;
  width:40px;
  height:40px;
  display:flex;
}
#u17737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:204px;
}
#u17739 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:607px;
  width:512px;
  height:204px;
  display:flex;
}
#u17739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17740 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:620px;
  width:84px;
  height:16px;
  display:flex;
}
#u17740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17741 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:783px;
  width:36px;
  height:16px;
  display:flex;
}
#u17741 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17741_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17742 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:783px;
  width:36px;
  height:16px;
  display:flex;
}
#u17742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17743 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:783px;
  width:36px;
  height:16px;
  display:flex;
}
#u17743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17743_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17744 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:783px;
  width:36px;
  height:16px;
  display:flex;
}
#u17744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17745 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:783px;
  width:36px;
  height:16px;
  display:flex;
}
#u17745 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17745_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17746 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:783px;
  width:36px;
  height:16px;
  display:flex;
}
#u17746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17747 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:783px;
  width:37px;
  height:16px;
  display:flex;
}
#u17747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17748 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:783px;
  width:39px;
  height:16px;
  display:flex;
}
#u17748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17749 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:765px;
  width:8px;
  height:16px;
  display:flex;
}
#u17749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17749_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17750 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:743px;
  width:8px;
  height:16px;
  display:flex;
}
#u17750 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17750_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17751 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:721px;
  width:8px;
  height:16px;
  display:flex;
}
#u17751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17752 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:700px;
  width:8px;
  height:16px;
  display:flex;
}
#u17752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17753 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:678px;
  width:8px;
  height:16px;
  display:flex;
}
#u17753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17754 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:656px;
  width:16px;
  height:16px;
  display:flex;
}
#u17754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17755 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:750px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17756 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:730px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17757 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:707px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17758 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:686px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17759 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:665px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:204px;
}
#u17761 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:810px;
  width:512px;
  height:204px;
  display:flex;
}
#u17761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17762 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:823px;
  width:98px;
  height:16px;
  display:flex;
}
#u17762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17763 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:986px;
  width:36px;
  height:16px;
  display:flex;
}
#u17763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17764 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:986px;
  width:36px;
  height:16px;
  display:flex;
}
#u17764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17764_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17765 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:986px;
  width:36px;
  height:16px;
  display:flex;
}
#u17765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17766 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:986px;
  width:36px;
  height:16px;
  display:flex;
}
#u17766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17767 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:986px;
  width:36px;
  height:16px;
  display:flex;
}
#u17767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17768 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:986px;
  width:36px;
  height:16px;
  display:flex;
}
#u17768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17768_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17769 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:986px;
  width:37px;
  height:16px;
  display:flex;
}
#u17769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17770 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:986px;
  width:39px;
  height:16px;
  display:flex;
}
#u17770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17771 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:968px;
  width:8px;
  height:16px;
  display:flex;
}
#u17771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17772 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:946px;
  width:8px;
  height:16px;
  display:flex;
}
#u17772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17773 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:924px;
  width:8px;
  height:16px;
  display:flex;
}
#u17773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17774 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:903px;
  width:8px;
  height:16px;
  display:flex;
}
#u17774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17775 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:881px;
  width:8px;
  height:16px;
  display:flex;
}
#u17775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17776 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:859px;
  width:16px;
  height:16px;
  display:flex;
}
#u17776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17777 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:953px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17778 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:933px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17779 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:910px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17780 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:889px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17781 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:868px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:2px;
}
#u17782 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:976px;
  width:489px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.235299619740889deg);
  -moz-transform:rotate(-0.235299619740889deg);
  -ms-transform:rotate(-0.235299619740889deg);
  transform:rotate(-0.235299619740889deg);
}
#u17782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:120px;
}
#u17783 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:656px;
  width:487px;
  height:120px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u17783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:63px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17784 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:914px;
  width:12px;
  height:63px;
  display:flex;
}
#u17784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:96px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17785 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:881px;
  width:12px;
  height:96px;
  display:flex;
}
#u17785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:42px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17786 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:935px;
  width:12px;
  height:42px;
  display:flex;
}
#u17786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:63px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17787 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:914px;
  width:12px;
  height:63px;
  display:flex;
}
#u17787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:63px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17788 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:914px;
  width:12px;
  height:63px;
  display:flex;
}
#u17788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:63px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17789 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:914px;
  width:12px;
  height:63px;
  display:flex;
}
#u17789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:118px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17790 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:859px;
  width:12px;
  height:118px;
  display:flex;
}
#u17790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:74px;
  background:inherit;
  background-color:rgba(45, 183, 245, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17791 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:903px;
  width:12px;
  height:74px;
  display:flex;
}
#u17791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17792 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:559px;
  width:512px;
  height:48px;
  display:flex;
}
#u17792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17793 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:573px;
  width:68px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u17793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
