body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u24043 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:82px;
  width:614px;
  height:1205px;
  display:flex;
}
#u24043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:970px;
  background:inherit;
  background-color:rgba(230, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24045 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:178px;
  width:558px;
  height:970px;
  display:flex;
}
#u24045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u24046 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:186px;
  width:24px;
  height:14px;
  display:flex;
}
#u24046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24047 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:187px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u24047 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24047_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u24048 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:186px;
  width:16px;
  height:16px;
  display:flex;
}
#u24048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24049 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:187px;
  width:36px;
  height:16px;
  display:flex;
}
#u24049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u24050 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:186px;
  width:24px;
  height:20px;
  display:flex;
}
#u24050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:5px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24051 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1143px;
  width:556px;
  height:5px;
  display:flex;
}
#u24051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:51px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24052 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:207px;
  width:556px;
  height:51px;
  display:flex;
}
#u24052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24053 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u24053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24054 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u24054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:182px;
  background:inherit;
  background-color:rgba(32, 176, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24055 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:257px;
  width:556px;
  height:182px;
  display:flex;
}
#u24055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24057 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:258px;
  width:556px;
  height:42px;
  display:flex;
  opacity:0.5;
}
#u24057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24058 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:272px;
  width:294px;
  height:16px;
  display:flex;
}
#u24058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24059 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:266px;
  width:24px;
  height:24px;
  display:flex;
}
#u24059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24062 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24062_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24063 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24066 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24066 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24066_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24067 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24070 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24070 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24070_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24071 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24074 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24074_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24075 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24077 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24079 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24079_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:5px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24080 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:438px;
  width:556px;
  height:5px;
  display:flex;
}
#u24080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24081 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u24081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FD0808;
}
#u24082 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:98px;
  width:54px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FD0808;
}
#u24082 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24082_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24083 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u24083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:698px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24084 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:443px;
  width:555px;
  height:698px;
  display:flex;
}
#u24084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24087 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:443px;
  width:556px;
  height:93px;
  display:flex;
}
#u24087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24087_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24087.mouseOver {
}
#u24087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24088 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:451px;
  width:210px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24088 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u24089 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:508px;
  width:62px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u24089 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:43px;
}
#u24090 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:458px;
  width:28px;
  height:43px;
  display:flex;
}
#u24090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24091 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:509px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24092 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:480px;
  width:112px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24092 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24093 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:509px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24094 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:509px;
  width:126px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:2px;
}
#u24095 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:535px;
  width:528px;
  height:1px;
  display:flex;
}
#u24095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24096 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:223px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u24096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24096_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24099 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:536px;
  width:556px;
  height:93px;
  display:flex;
}
#u24099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24099_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24099.mouseOver {
}
#u24099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24100 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:544px;
  width:210px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u24101 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:601px;
  width:62px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u24101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:43px;
}
#u24102 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:551px;
  width:28px;
  height:43px;
  display:flex;
}
#u24102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24103 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:602px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24104 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:573px;
  width:112px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24105 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:602px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24106 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:602px;
  width:126px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:2px;
}
#u24107 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:628px;
  width:528px;
  height:1px;
  display:flex;
}
#u24107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24110 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:629px;
  width:556px;
  height:93px;
  display:flex;
}
#u24110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24110_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24110.mouseOver {
}
#u24110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24111 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:637px;
  width:210px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u24112 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:694px;
  width:62px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u24112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:43px;
}
#u24113 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:644px;
  width:28px;
  height:43px;
  display:flex;
}
#u24113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24114 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:695px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24115 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:666px;
  width:112px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24116 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:695px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24117 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:695px;
  width:126px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:2px;
}
#u24118 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:721px;
  width:528px;
  height:1px;
  display:flex;
}
#u24118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24121 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:722px;
  width:556px;
  height:93px;
  display:flex;
}
#u24121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24121_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:93px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24121.mouseOver {
}
#u24121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24122 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:730px;
  width:210px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u24122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u24123 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:787px;
  width:62px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u24123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:43px;
}
#u24124 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:737px;
  width:28px;
  height:43px;
  display:flex;
}
#u24124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24125 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:788px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24126 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:759px;
  width:112px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline ;
}
#u24127 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:788px;
  width:34px;
  height:22px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
}
#u24127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24128 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:788px;
  width:126px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u24128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:2px;
}
#u24129 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:814px;
  width:528px;
  height:1px;
  display:flex;
}
#u24129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24130 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:208px;
  width:70px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
