body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:211px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u11103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u11103 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
.u11103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u11103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u11104 label {
  left:0px;
  width:100%;
}
.u11104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u11104 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:4px;
  width:15px;
  height:16px;
  display:flex;
}
.u11104 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u11104_img.selected {
}
.u11104.selected {
}
.u11104_img.disabled {
}
.u11104.disabled {
}
.u11104_img.selectedDisabled {
}
.u11104.selectedDisabled {
}
.u11104_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u11104_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11102-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:47px;
  height:20px;
}
.u11104 label {
  left:0px;
  width:100%;
}
#u11102 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:69px;
  width:47px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
