body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1073px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:959px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:959px;
  display:flex;
}
#u22147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22148 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:51px;
  width:28px;
  height:16px;
  display:flex;
}
#u22148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22149 label {
  left:0px;
  width:100%;
}
#u22149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u22149 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:51px;
  width:100px;
  height:15px;
  display:flex;
}
#u22149 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u22149_img.selected {
}
#u22149.selected {
}
#u22149_img.disabled {
}
#u22149.disabled {
}
#u22149_img.selectedDisabled {
}
#u22149.selectedDisabled {
}
#u22149_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u22149_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22150 label {
  left:0px;
  width:100%;
}
#u22150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u22150 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:51px;
  width:100px;
  height:15px;
  display:flex;
}
#u22150 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u22150_img.selected {
}
#u22150.selected {
}
#u22150_img.disabled {
}
#u22150.disabled {
}
#u22150_img.selectedDisabled {
}
#u22150.selectedDisabled {
}
#u22150_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u22150_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22151 label {
  left:0px;
  width:100%;
}
#u22151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u22151 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:51px;
  width:100px;
  height:15px;
  display:flex;
}
#u22151 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u22151_img.selected {
}
#u22151.selected {
}
#u22151_img.disabled {
}
#u22151.disabled {
}
#u22151_img.selectedDisabled {
}
#u22151.selectedDisabled {
}
#u22151_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u22151_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u22152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22152 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:125px;
  width:358px;
  height:56px;
  display:flex;
}
#u22152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22153 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:125px;
  width:358px;
  height:56px;
  display:flex;
}
#u22153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:244px;
}
#u22154 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:229px;
  width:358px;
  height:244px;
  display:flex;
}
#u22154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:238px;
}
#u22155 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:229px;
  width:358px;
  height:238px;
  display:flex;
}
#u22155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:280px;
}
#u22156 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:578px;
  width:348px;
  height:280px;
  display:flex;
}
#u22156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22157 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:504px;
  width:358px;
  height:56px;
  display:flex;
}
#u22157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22158 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:883px;
  width:140px;
  height:40px;
  display:flex;
}
#u22158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
