body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1073px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:959px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:959px;
  display:flex;
}
#u11051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11052 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:51px;
  width:28px;
  height:16px;
  display:flex;
}
#u11052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11053 label {
  left:0px;
  width:100%;
}
#u11053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u11053 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:51px;
  width:100px;
  height:15px;
  display:flex;
}
#u11053 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u11053_img.selected {
}
#u11053.selected {
}
#u11053_img.disabled {
}
#u11053.disabled {
}
#u11053_img.selectedDisabled {
}
#u11053.selectedDisabled {
}
#u11053_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u11053_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11054 label {
  left:0px;
  width:100%;
}
#u11054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u11054 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:51px;
  width:100px;
  height:15px;
  display:flex;
}
#u11054 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u11054_img.selected {
}
#u11054.selected {
}
#u11054_img.disabled {
}
#u11054.disabled {
}
#u11054_img.selectedDisabled {
}
#u11054.selectedDisabled {
}
#u11054_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u11054_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11055 label {
  left:0px;
  width:100%;
}
#u11055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u11055 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:51px;
  width:100px;
  height:15px;
  display:flex;
}
#u11055 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u11055_img.selected {
}
#u11055.selected {
}
#u11055_img.disabled {
}
#u11055.disabled {
}
#u11055_img.selectedDisabled {
}
#u11055.selectedDisabled {
}
#u11055_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u11055_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11056 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:125px;
  width:358px;
  height:56px;
  display:flex;
}
#u11056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11057 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:125px;
  width:358px;
  height:56px;
  display:flex;
}
#u11057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:244px;
}
#u11058 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:229px;
  width:358px;
  height:244px;
  display:flex;
}
#u11058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:238px;
}
#u11059 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:229px;
  width:358px;
  height:238px;
  display:flex;
}
#u11059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:280px;
}
#u11060 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:578px;
  width:348px;
  height:280px;
  display:flex;
}
#u11060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11061 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:504px;
  width:358px;
  height:56px;
  display:flex;
}
#u11061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11062 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:883px;
  width:140px;
  height:40px;
  display:flex;
}
#u11062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
