body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:1026px;
  background:inherit;
  background-color:rgba(45, 60, 80, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u10057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:205px;
  height:1026px;
  display:flex;
  color:#1E1E1E;
}
#u10057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:84px;
  display:flex;
}
#u10058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10059 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:18px;
  width:40px;
  height:40px;
  display:flex;
}
#u10059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10060 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:84px;
  width:1069px;
  height:955px;
}
#u10060_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:955px;
  overflow:hidden;
}
#u10061 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:68px;
  width:94px;
  height:70px;
  visibility:hidden;
}
#u10061_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10061_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u10062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:70px;
  display:flex;
}
#u10062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  display:flex;
  text-align:center;
}
#u10063 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:95px;
  height:35px;
  display:flex;
  text-align:center;
}
#u10064 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u10065 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:12px;
  width:120px;
  height:50px;
  display:flex;
}
#u10065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:205px;
  height:419px;
}
#u10066_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:419px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:419px;
}
#u10068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:62px;
}
#u10068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:62px;
  display:flex;
  color:#FFFFFF;
}
#u10068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:57px;
}
#u10073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:205px;
  height:57px;
  display:flex;
  color:#FFFFFF;
}
#u10073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10075 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:122px;
  width:205px;
  height:420px;
  visibility:hidden;
}
#u10075_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:420px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:420px;
}
#u10077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10084 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:359px;
  width:205px;
  height:60px;
  visibility:hidden;
}
#u10084_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u10085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u10086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
  display:flex;
  color:#FFFFFF;
}
#u10086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
