body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:82px;
  width:614px;
  height:1205px;
  display:flex;
}
#u4139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:970px;
  background:inherit;
  background-color:rgba(230, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:178px;
  width:558px;
  height:970px;
  display:flex;
}
#u4141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:186px;
  width:24px;
  height:14px;
  display:flex;
}
#u4142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:187px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:186px;
  width:16px;
  height:16px;
  display:flex;
}
#u4144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:187px;
  width:36px;
  height:16px;
  display:flex;
}
#u4145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:186px;
  width:24px;
  height:20px;
  display:flex;
}
#u4146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:5px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1143px;
  width:556px;
  height:5px;
  display:flex;
}
#u4147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:51px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:207px;
  width:556px;
  height:51px;
  display:flex;
}
#u4148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u4149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u4150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:182px;
  background:inherit;
  background-color:rgba(32, 176, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:257px;
  width:556px;
  height:182px;
  display:flex;
}
#u4151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:258px;
  width:556px;
  height:42px;
  display:flex;
  opacity:0.5;
}
#u4153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:272px;
  width:294px;
  height:16px;
  display:flex;
}
#u4154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:266px;
  width:24px;
  height:24px;
  display:flex;
}
#u4155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4170_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:328px;
  width:40px;
  height:40px;
  display:flex;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:375px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4175_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:5px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:438px;
  width:556px;
  height:5px;
  display:flex;
}
#u4176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u4177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FD0808;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:96px;
  width:54px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FD0808;
}
#u4178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:216px;
  width:32px;
  height:32px;
  display:flex;
}
#u4179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 202, 202, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1085px;
  width:556px;
  height:63px;
  display:flex;
}
#u4181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#090909;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1097px;
  width:150px;
  height:40px;
  display:flex;
  color:#090909;
}
#u4182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 139, 130, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1097px;
  width:150px;
  height:40px;
  display:flex;
}
#u4183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:443px;
  width:556px;
  height:639px;
}
#u4184_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:639px;
  overflow:auto;
}
#u4185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:221px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u4185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:213px;
  width:70px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:5px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1082px;
  width:556px;
  height:5px;
  display:flex;
}
#u4187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 139, 130, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:1097px;
  width:150px;
  height:40px;
  display:flex;
}
#u4188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
