body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u19352 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:82px;
  width:614px;
  height:1205px;
  display:flex;
}
#u19352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:970px;
  background:inherit;
  background-color:rgba(230, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19353 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:178px;
  width:558px;
  height:970px;
  display:flex;
}
#u19353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u19355 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:186px;
  width:24px;
  height:14px;
  display:flex;
}
#u19355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19356 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:187px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u19356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19356_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19357 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:186px;
  width:16px;
  height:16px;
  display:flex;
}
#u19357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19358 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:187px;
  width:36px;
  height:16px;
  display:flex;
}
#u19358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19358_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u19359 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:186px;
  width:24px;
  height:20px;
  display:flex;
}
#u19359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19360 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:283px;
  width:36px;
  height:16px;
  display:flex;
}
#u19360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u19361 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:329px;
  width:36px;
  height:36px;
  display:flex;
}
#u19361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19362 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:329px;
  width:240px;
  height:131px;
  display:flex;
}
#u19362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19363 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:341px;
  width:216px;
  height:16px;
  display:flex;
}
#u19363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19364 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:357px;
  width:210px;
  height:32px;
  display:flex;
}
#u19364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u19365 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:547px;
  width:36px;
  height:36px;
  display:flex;
}
#u19365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:152px;
}
#u19366 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:493px;
  width:43px;
  height:152px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u19366 .text {
  position:absolute;
  align-self:center;
  padding:2.15322580645161px 2.70588235294118px 16.3768656716418px 2.70588235294118px;
  box-sizing:border-box;
  width:100%;
}
#u19366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0B0B0B;
}
#u19367 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:561px;
  width:112px;
  height:16px;
  display:flex;
  color:#0B0B0B;
}
#u19367 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19367_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:2px;
}
#u19368 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1083px;
  width:547px;
  height:1px;
  display:flex;
}
#u19368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19369_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19369 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1099px;
  width:475px;
  height:30px;
  display:flex;
}
#u19369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19369_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19369.disabled {
}
#u19370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19370 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:1102px;
  width:24px;
  height:24px;
  display:flex;
}
#u19370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999797;
}
#u19371 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1106px;
  width:54px;
  height:16px;
  display:flex;
  color:#999797;
}
#u19371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:51px;
  background:inherit;
  background-color:rgba(16, 92, 85, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19372 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:207px;
  width:556px;
  height:51px;
  display:flex;
}
#u19372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u19373 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:223px;
  width:48px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u19373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19373_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u19376 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:219px;
  width:26px;
  height:26px;
  display:flex;
}
#u19376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19377 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:208px;
  width:70px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
